body{
    background-color: green;
    color: white;
    margin: 0px;
}

header{
    text-align: center;
    background-color: darkgreen;

    h1{
        margin: 0px;
    }
}

main{
    padding: 1vw;
}

.card-container{
    display: flex;
    justify-content: center;
}

.mystery-card{
    margin: 1em;
    width: 255px;
    height: 355px;
    background-color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    overflow: hidden;
    position: relative;
    color: black;
    
    div{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: rotateY(180deg);
        background-color: aliceblue;
        backface-visibility: hidden;
    }

    img{
        width: 100%;
    }
}

.mystery-card.flipped{
    transition: transform 2s;
    transform: rotateY(0deg);

    div{
        transform: rotateY(0deg)
    }

    img{
        transform: rotateY(180deg)
    }
}

.user-input{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    button{
        margin: .1em;
        font-size: large;
    }
}

.output{
    background-color: rgb(1, 79, 1);
    border: dashed lime 3px;
    text-align: center;
}