body{
    background-color: green;
    color: white;
    margin: 0px;
}

header{
    text-align: center;
    background-color: darkgreen;

    h1{
        margin: 0px;
    }
}

main{
    padding: 1vw;
}

.card-container{
    display: flex;
    justify-content: center;
}

.mystery-card{
    margin: 1em;
    width: 255px;
    height: 355px;
    background-color: aliceblue;
    border: 2px solid aliceblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img{
        width: 100%;
    }
}

.user-input{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    button{
        margin: .1em;
        font-size: large;
    }
}

.output{
    background-color: rgb(1, 79, 1);
    border: dashed lime 3px;
    text-align: center;
}